form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input, button {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
}


th {
    padding: 4px;
    font-style: normal;
}
  
td, th {
    text-align: left;
    padding: 4px;
    border: 2px solid black;
    min-width:45px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.submit {
  background-color: lightseagreen;
  border: 1px solid;
}

.label {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px
}
h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px
}

.results {
    display: flex;
    align-items: center;
    flex-direction: column;
}